<ion-content>
  <img style="margin: auto; text-align: center; display: flex;justify-content: center; height: 100px; width: 100px; border-radius: 50%;" src="assets/logo.jpg" alt="">
  
      <ion-label position="floating">NPM</ion-label>
      <ion-input type="text" required ></ion-input>
  
  
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
  
  <ion-row>
      <ion-col>
          <ion-button [routerLink]="['/tabs/tab1']" type=" submit " color="danger" expand="block ">Log In</ion-button>
      </ion-col>
  </ion-row>
</ion-content>